---
import { t } from "i18next"
import { Trans } from "astro-i18next/components"

import Container from "./Container.astro"
import FeatureItem from "./FeatureItem.astro"
import Highlight from "./Highlight.astro"
import ButtonLink from "./ButtonLink.astro"
---
<div id="features" class="bg-slate-50 text-black dark:bg-slate-800 dark:text-slate-400">
  <Container class="py-24 md:py-48" small>
    <h2 class="mb-16 text-center text-4xl font-extrabold tracking-tight dark:text-slate-200 sm:text-5xl md:mb-24 md:text-7xl">
      <Trans i18nKey="features.title">
        <span class="text-brand-500"></span>
      </Trans>
    </h2>

    <div class="space-y-8 lg:space-y-12">
      <FeatureItem icon="ðŸ—ï¸" title={t("features.first.title")}>
        <p>
          <Trans i18nKey="features.first.description">
            <Highlight></Highlight>
            <Highlight></Highlight>
            <Highlight></Highlight>
          </Trans>
        </p>
      </FeatureItem>

      <FeatureItem icon="ðŸ§ª" title={t("features.second.title")}>
        <p>
          <Trans i18nKey="features.second.description">
            <Highlight></Highlight>
            <Highlight></Highlight>
          </Trans>
        </p>
      </FeatureItem>

      <FeatureItem icon="ðŸŒŽ" title={t("features.third.title")}>
        <p>
          <Trans i18nKey="features.third.description">
            <Highlight></Highlight>
            <Highlight></Highlight>
          </Trans>
        </p>
      </FeatureItem>
    </div>

    <div class="mt-12 text-center md:mt-16">
      <ButtonLink href="#join-beta">
        {t("hero.button")}
      </ButtonLink>
    </div>
  </Container>
</div>
