---
import { t } from "i18next"

import Container from "./Container.astro"

const items = [
  {
    label: t("navbar.features"),
    link: "#features",
  },
  {
    label: t("navbar.howItWorks"),
    link: "#how-it-works",
  },
  {
    label: t("navbar.betaAccess"),
    link: "#join-beta",
  },
  {
    label: t("navbar.contact"),
    link: "#contact",
  },
]
---

<div class="bg-slate-900 py-12 text-white">
  <Container class="flex items-center justify-between" small>
    <span class="font-bold">Razom &copy; 2023</span>

    <ul class="hidden gap-x-2 md:flex">
      {items.map(({ label, link }) => (
        <li>
          <a
            href={link}
            class="whitespace-nowrap rounded-full px-4 py-2 font-medium opacity-50 hover:bg-white/5 hover:opacity-100"
          >
            {label}
          </a>
        </li>
      ))}
    </ul>
  </Container>
</div>
