---
import Container from "./Container.astro"
import Waves from "./Waves.astro"
---
<Waves wavesColor="fill-gray-900" bgColor="bg-brand-500" />

<div class="bg-gray-900 py-24 text-white">
  <Container small>
    <h2 class="mb-2 text-3xl font-extrabold tracking-tight sm:text-5xl md:mb-4 md:text-7xl">
      From Creator
    </h2>

    <div class="space-y-4 font-medium md:text-xl">
      <p>
        Hey there, I'm Andrew, the person behind Razom. For over a decade, I struggled to find partners and like-minded people to share my business dreams with. As an introvert with ADHD, I found it challenging to network and connect with others who shared my passion.
      </p>

      <p>
        My journey led me to create Razom, a platform that empowers enthusiasts like me to find their tribe and collaborate on amazing projects, without the stress of traditional networking. Razom is designed to make it simple and enjoyable for everyone – whether you're an introvert, have ADHD, or simply crave a more relaxed way of connecting with others.
      </p>

      <p>
        I'm excited to share Razom with you, and I hope it helps you find the support, partnerships, and friendships you need to bring your ideas to life. Let's create something extraordinary together!
      </p>
    </div>
  </Container>
</div>
