---
import Navbar from "./Navbar.astro"
import Waves from "./Waves.astro"
import Hero from "./Hero.astro";
---

<div class="flex max-h-[1200px] min-h-[85vh] flex-col bg-slate-900 text-slate-100 dark:text-slate-200">
  <Navbar />
  <Hero />
</div>

<Waves wavesColor="fill-slate-900" bgColor="bg-slate-50 dark:bg-slate-800" flip />
