---
import Navbar from "./Navbar.astro"
import ButtonLink from "./ButtonLink.astro"
import Waves from "./Waves.astro"
import Container from "./Container.astro"
import Hero from "./Hero.astro";
---

<div class="flex h-[85vh] flex-col bg-gray-900 text-white">
  <Navbar />
  <Hero />
</div>

<Waves wavesColor="fill-gray-900" flip />
