---
import ButtonLink from "./ButtonLink.astro"
import Container from "./Container.astro";
---

<Container class="flex flex-1 items-center justify-center" small>
  <div class="lg:w-2/3">
    <div class="mb-4 text-right text-4xl sm:text-6xl md:text-8xl">
      🚀
    </div>

    <h1 class="mb-2 text-3xl font-extrabold tracking-tight sm:text-5xl md:mb-4 md:text-7xl">
      Where Enthusiasts Unite <span class="whitespace-nowrap md:whitespace-normal">and Dreams</span> Take Flight
    </h1>

    <p class="mb-4 text-lg text-gray-400 sm:text-xl md:mb-8 md:text-3xl">
      Razom connects ordinary people like you and me and helps them build cool products
    </p>

    <ButtonLink href="#join-beta" class="mx-auto">
      Join the Private Beta
    </ButtonLink>
  </div>
</Container>