---
import Container from "./Container.astro"
import Waves from "./Waves.astro"
---
<Waves wavesColor="fill-slate-200" bgColor="bg-slate-50" />

<div class="flex items-center justify-center bg-slate-200 py-48 text-black">
  <Container small>
    <div class="-skew-x-6 -skew-y-3 text-center">
      <p class="mb-2 font-serif text-xl text-slate-800 sm:text-3xl md:text-4xl lg:mb-6 lg:text-6xl">
        If you want to go fast, go alone.<br>
        If you want to go far, go <span class="bg-brand-500 px-2 font-medium text-white">Razom</span>
      </p>
      <p class="text-sm text-slate-700 sm:text-base md:text-lg lg:text-xl">
        <span class="font-medium">Razom</span>
        is an Ukrainian word meaning
        "<span class="font-medium">together</span>"
      </p>
    </div>
  </Container>
</div>

<Waves wavesColor="fill-slate-200" bgColor="bg-slate-50" flip />
