---
import i18next, { t } from "i18next"
import { Trans } from "astro-i18next/components"

import Container from "./Container.astro"
import Waves from "./Waves.astro"
---
<Waves wavesColor="fill-slate-200 dark:fill-slate-400" bgColor="bg-slate-50 dark:bg-slate-800" />

<div class="flex items-center justify-center bg-slate-200 py-48 text-black dark:bg-slate-400">
  <Container small>
    <div class="-skew-x-6 -skew-y-3 text-center">
      <p class="font-serif text-xl text-slate-800 sm:text-3xl md:text-4xl lg:text-5xl">
        {t("quote.firstLine")}<br>
        <Trans i18nKey="quote.secondLine">
          <span class="bg-brand-500 px-1 font-medium text-white md:px-2"></span>
        </Trans>
      </p>
      {i18next.language !== "uk" && (
        <p class="mt-2 lg:mt-6 text-sm text-slate-700 dark:text-slate-800 sm:text-base md:text-lg lg:text-xl">
          <Trans i18nKey="quote.description">
            <span class="font-medium"></span>
            <span class="font-medium"></span>
          </Trans>
        </p>
      )}
    </div>
  </Container>
</div>

<Waves wavesColor="fill-slate-200 dark:fill-slate-400" bgColor="bg-slate-50 dark:bg-slate-800" flip />
