---
import { t } from "i18next"

import Container from "./Container.astro"
import Waves from "./Waves.astro"

const MAILCHIMP_FORM_URL = import.meta.env.PUBLIC_MAILCHIMP_FORM_URL
const MAILCHIMP_ANTISPAM = import.meta.env.PUBLIC_MAILCHIMP_ANTISPAM
const MAILCHIMP_TAGS = import.meta.env.PUBLIC_MAILCHIMP_TAGS
---
<Waves wavesColor="fill-brand-500 dark:fill-slate-400" bgColor="bg-slate-50 dark:bg-slate-800" />

<div id="join-beta" class="flex items-center justify-center bg-brand-500 py-24 text-white dark:bg-slate-400 dark:text-slate-800 md:py-36">
  <Container small>
    <h2 class="mb-8 text-center text-4xl font-extrabold tracking-tight sm:text-5xl md:mb-16 md:text-7xl">
      {t("subscribe.title")}
    </h2>

    <p class="mb-8 text-center font-medium dark:text-slate-700 md:mb-16 md:text-2xl">
      {t("subscribe.subTitle")}
    </p>

    <form
      action={MAILCHIMP_FORM_URL}
      method="post"
      target="_self"
      class="relative mx-auto w-full max-w-[540px]"
    >
      <input
        type="email"
        name="EMAIL"
        placeholder={t("subscribe.emailPlaceholder")}
        class="w-full rounded-full bg-white px-8 py-6 pr-24 text-xl font-medium text-slate-800 ring-4 ring-brand-600 placeholder:text-slate-500 focus:outline-none focus:ring-2 dark:bg-slate-300 dark:ring-slate-500 md:text-2xl"
        >

      <div class="hidden">
        <input type="hidden" name="tags" value={MAILCHIMP_TAGS}>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name={MAILCHIMP_ANTISPAM} tabindex="-1" value="">
      </div>

      <button class="absolute right-2 top-1/2 h-16 w-16 -translate-y-1/2 rounded-full bg-indigo-500 text-2xl font-bold transition duration-200 ease-in-out hover:scale-105 hover:bg-indigo-600 active:scale-95 dark:bg-brand-500 dark:text-white dark:hover:bg-brand-600">
        &rarr;
      </button>
    </form>
  </Container>
</div>
