---
export interface Props {
  title: string
}

const { title } = Astro.props;
const GA_ID = import.meta.env.PUBLIC_GA_ID;
---

<!DOCTYPE html>
<html lang="en" class="w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {GA_ID && (
      <>
        <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}></script>
        <script define:vars={{ GA_ID }}>
          window.dataLayer = window.dataLayer || []
          function gtag(){ dataLayer.push(arguments) }
          gtag("js", new Date())
          gtag("config", GA_ID)
        </script>
      </>
    )}
  </head>
  <body class="w-screen overflow-x-hidden antialiased bg-gray-900">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: "Inter", sans-serif;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
</style>
