---
import i18next, { t } from "i18next"
import { HeadHrefLangs } from "astro-i18next/components"

const GA_ID = import.meta.env.PUBLIC_GA_ID;
---

<!DOCTYPE html>
<html lang={i18next.language} class="w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />

    <meta property="og:title" content={t("site.title")} />
    <meta property="og:description" content={t("site.description")} />
    <meta property="og:image" content="https://getrazom.app/images/og-image.png" />

    <HeadHrefLangs />

    {GA_ID && (
      <>
        <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}></script>
        <script define:vars={{ GA_ID }}>
          window.dataLayer = window.dataLayer || []
          function gtag() { dataLayer.push(arguments) }
          gtag("js", new Date())
          gtag("config", GA_ID)
        </script>
      </>
    )}
  </head>
  <body class="w-screen overflow-x-hidden bg-slate-900 font-sans antialiased">
    <slot />

    <script>
    document.querySelectorAll("a[href^='#']").forEach((anchor) => {
      anchor.addEventListener("click", function(e) {
        e.preventDefault()

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        })
      })
    })
    </script>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter var";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-named-instance: "Regular";
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  }
</style>
