---
export interface Props {
  title: string
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-screen overflow-x-hidden antialiased">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: "Inter", sans-serif;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
</style>
